*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(kanto.jpg);
    background-size: cover;
}

.fundo1{
    background-image: url(pikachu\ fundo.jpg);
    background-size: cover;
}

.logo{
    position: relative;
    left: 39%;
    top: 350px;

    
}

.img{
    width: 500px;
}

.img2{
    width: 10px;
}

.center1{
    position: relative;
    margin-left: 500px;
    top: 10px;
    width: 400px;
}
    
.center2{
    position: relative;
    top: 10px;
    width: 400px;
}

.center3{
    position: relative;
    top:  10px;
    width: 400px;
}

.center4{
    position: relative;
    top: 10px;
    width: 400px;
}



.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}





